
.nof {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#2ea1f8, #1991eb);
    color: #fff;
    cursor: pointer;
    /* font-size: 24px; */
    /* height: 25px; */
    padding: 0 8px 0 8px;
    line-height: 22px;
    border-radius: 10px;
}

.warning {
    line-height: 20px;
    background: linear-gradient(#f45438,#cb270a);
}
html, body {
    height: 100%;
}
.comtain {
    display: flex;
    height: 100%;
    width: 100%;
}
aside {
    /* position: absolute; */
    position: relative;
    width: 350px;
    height: 100%;
    display: flex;
    flex: none;
    font-size: 12px;
    /* background-color: #cf7979; */
    /* overflow: auto; */
    
}

aside nav {
    height: 100%; 
    flex: 2;
    background: #1d2531;
    text-align: center;
}
aside nav li {
    margin-top: 20px;
}

aside nav ul a {
    position: relative;
    
    
}
/* aside nav ul a.active::before {
    content: " ";
    position: absolute;
    left: -27px;
    bottom: 30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 5px 0px 15px rgb(255, 255, 255);
    background: #8ec8ff;
    
} */

aside nav ul a:focus::before,
aside nav ul a:hover::before
{
    content: " ";
    position: absolute;
    left: -27px;
    bottom: 30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 5px 0px 15px rgba(255, 255, 255, 0.486);
    background: #8ec8ff;
}

aside nav .bottom-actions {
    position: fixed;
    left: 26px;
    bottom: 20px;
}
.bottom-actions a {
    display: inline-block;
    margin-right: 16px;
}
aside .menu {
    height: 100%;
    flex: 5;
    display: flex;
    flex-flow: column;
    overflow: auto;
    
    padding-bottom: 54px;
    background: #222c3c;
}
*::-webkit-scrollbar {
    display: none;/*隐藏滚轮*/
}

.menu .menu-box {
    width: 190px;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu .menu-box:last-of-type {
    border-bottom: rgba(255, 255, 255, 0);
}

.menu header {
    display: flex;
    justify-content: space-between;
}


.menu-box header h2 {
    color: rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

.menu-box .menu-lists {
    margin-top: 30px;
}

.menu-lists .menu-list {
    position: relative;
    margin-top: 20px;
}
.menu-lists .menu-list a {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.menu-lists .menu-list a:focus,
.menu-lists .menu-list a:hover
{
    color: rgba(255, 255, 255, 1)
}

.menu-lists .menu-list a:focus::before,
.menu-lists .menu-list a:hover::before
{
    content: " ";
    position: absolute;
    left: -30px;
    top: 6px;
    width: 2px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 5px 0px 15px rgba(255, 255, 255, 0.486);
    background: #77bdff;
}

.menu-lists .menu-list h2 {
    font-size: 14px;
    
}

.menu-box .menu-list h2 img {
    
    margin-right: 10px;
}



.menu .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-left: 30px;
    justify-content: space-between;
    width: 190px;
    /* height: 54px; */
    margin-bottom: 20px;
    border-bottom: 4px solid #2d3848;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    background: #222c3c;
}

.app-layout {
    display: flex;
    flex: auto;
    flex-flow: column;
    height:100%;
}
.top-bar {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.top-bar h1 {
    color: #354052;
    font-size: 24px;

}
.top-bar .profile {
    display: flex;
    align-items: center;
}

.top-bar .profile::after {
    content: url(./assets/dropdown.svg);
    margin-left: 40px;
    cursor: pointer;
    
}
.top-bar .profile .name {
    margin-left: 15px;
}
.top-bar .profile h3 {
    font-size: 16px;
    color: #2399f1;
    cursor: pointer;
}

.top-bar .profile .role {
    color: #b5b5b5;
    font-size: 14px;
}

.content {
    
    flex: auto;
    display: flex;
    height: 100%;
    

}

.chats {
    flex: none;
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
.open-chat {
    position: relative;
    flex: auto;
    display: flex;
    flex-flow: column;   
    height: 100%;
    
}

.open-chat .chat-bar {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 30px;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.chat-bar .profile-name {  
    display: flex;
    align-items: center;
}
.chat-bar .profile-name h2 {
    font-size: 18px;
    color: #585d68;
}
.chat-bar .profile-name::after {
    margin-left: 10px;
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1bb934;
}
.chat-bar .tools {
    display: flex;
    align-items: center;
    
}
.chat-bar .tools button {
    
    margin: 0;
    width: 36px;
    height: 32px;
    background: linear-gradient(#fff, #e1e1e1);
    border: 1px solid #ced0da;
    border-radius: 4px;
    cursor: pointer;
}
.chat-bar .tools .number {
    width: 80px;
    height: 32px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 14px;
    font-size: 14px;
    border-left: 1px solid #dbdbdb;
}

.open-chat-boxs {
    flex: auto;
    overflow: auto;
    padding-bottom: 105px;
}

.open-chat-box {
    
    display: flex;
    padding: 0 55px 0 30px;
    margin-top: 25px;
}
.open-chat-box .text {
    
    margin-left: 20px;
    
}

.open-chat-box .text h3 {
    font-size: 16px;
    color: #585d68;
    margin: 5px 0 15px 0;

}

.open-chat-box .text h3::after {
    content: "8:31 AM";
    font-size: 14px;
    margin-left: 10px;
    color: #7f8fa4;
}

.chats .search {
    flex: none;
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 17.5px;
}
.search input {
    padding: 12px;
    font-size: 14px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 35px;
    
    
}
.search::after {
    content: url(./assets/Search\ icon.svg);
    position: absolute;
    right: 45px;
    top: 27px;
    cursor: pointer;
}

.chats .chat-boxs {
    
    flex: auto;
    overflow: auto;
}

.chats .chat-boxs .chat-box {
    display: flex;
    flex-flow: column;
    padding: 0 20px 0 30px;
    height: 130px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);    
}

.chat-boxs .chat-box:hover
 {
    border-left: 4px solid #2399f1;
    padding-left: 26px;
}
.chat-boxs .chat-box.active {
    border-left: 4px solid #2399f1;
    padding-left: 26px;
}
.chat-box .profile {
    position: relative;
    display: flex;
    height: 65px;
    align-items: center;
}


.chat-box .profile > span {
    
    font-size: 14px;
    color: #7f8fa4;
    position: absolute;
    top: 15px;
    right: 5px;
    
}


.chat-box .profile .name {
    position: relative;
    margin-left: 15px;
}
.chat-box .profile h3 {
    font-weight: bold;
    color: #585d68;    
    font-size: 16px;
    cursor: pointer;
}

.chat-box .profile .active::before {
    position: absolute;
    left: 0;
    top: 4px;
    display: block;
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2399f1;
}



.chat-box .profile .active h3 {
    margin-left: 15px;
    color: #2399f1;
}
.chat-box .profile .role {
    color: #b5b5b5;
    font-size: 14px;
}

 .message p{
    font-size: 14px;
    line-height: 20px;
    color: #585d68;
}

.time-divider {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #7f8fa4;
}
.time-divider.new {
    color: #2399f1;
}

.time-divider.new::before,
.time-divider.new::after
{
    background: linear-gradient(#89c9fa, #81bfee);
}

.time-divider::before,
.time-divider::after
{
    content: "";
    flex: 1;
    background: linear-gradient(#fff,#ccc);
    display: block;
    height: 1px;
}
.time-divider span {
    margin: 0 20px;    
}

.chat-input {
    position: absolute;
    bottom: 20px;
    left: 30px;
    flex: none;
    display: flex;
    width: 100%;
    height: 54px;
}
.chat-input button {
    flex: none;
    height: 54px;
    width: 54px;
    font-size: 30px;
    color: #9fa9ba;
    background: linear-gradient(#fff, #e1e1e1);
    border : 1px solid #9fa9ba;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.chat-input input {
    padding: 22px;
    flex: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 54px;
}